:host {
  display: block;
  width: 700px;
  background: #e3e3e3;
  color: #000;
}

$chatheight: 162px;

#chatlog {
  min-height: $chatheight;
  max-height: $chatheight;
  background: #eee;
  padding: 6px;
  overflow: hidden;

}

#chatloginner {
  min-height: $chatheight;
  max-height: $chatheight;
  overflow-y: scroll;
  max-height: 140px;
}

td {
  max-width: 590px;
  word-wrap: break-word;
}



paper-input {
  margin:-8px 6px;
  width: 634px;
}

paper-icon-button {
  position: absolute;
  color: #555;
  margin: 2px 8px;
}


td:first-child  {
  color: #777;
  width: 50px;
  text-align: right;
  padding: 0 6px;
}
